// ==============
// Global imports
// ==============
@import "base/variables";
@import "base/mixins";
@import "base/base";
@import "components/header";
@import "components/footer";

.mapboxgl-popup {
  max-width: 600px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  color: black;
}

.mapboxgl-popup-content {
  width: 600px;
  max-width: 90vw;
  height: 350px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  color: black;

  //.popup-overlay {
  //  width: 100%;
  //  height: 100%;
  //  opacity: 0;
  //  //background: white;
  //  position: absolute;
  //  top: 0;
  //  left: 0;
  //}
}


body {
    height: 100vh;
    margin-top: 0;
    color: $main-text;
    //background: repeating-linear-gradient(
    //                90deg,
    //                #000000,
    //                #000000 30px,
    //                #ffffff 30px,
    //                #ffffff 60px
    //);;
}


p {
  font-size: 2em;
  line-height: 2;
}

.quote {
  margin-top: 0em;
  margin-bottom: 1em;
  font-size: 2.3em;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #211a23;
  &::before {
    font-family: Arial, sans-serif;
    content: "\201C";
    font-size: 7em;
    position: relative;
    left: 0em;
    top: 0.5em;
    @media #{$brk-spnarrow} {
      font-size: 7em;
    }
  }

  line-height: 2em;
}

.term {
  border-bottom: 2px dotted #cccccc;
  cursor: help;

  &:hover {
    color: #ccc;
  }
}

.sources {
  color: #BBC0BF;
  margin-top:0.5em;
  margin-bottom:2em;
  font-size: 1.1em;
}

.directSpeach {
  font-style: italic;
}


.new-section {
  margin-top: 5%;
}



@media only screen and (min-width:800px) {
  .mobile {
    display:none !important;
    padding-top: 0;
  }

  .desktop {
    display:block !important;
  }
}

//small screen sizes
@media only screen and (max-width: 799px) {
  .mobile {
    display:block !important;
  }

  .desktop {
    display:none !important;
  }

  #map {
    max-height: 85vh;
  }
}

.read-more {
  margin-bottom: 15px;
}

.mobile {
  p.caption {
    font-size: 2em;
    text-align: center;
    //font-style: italic;
    //text-transform: uppercase;
    margin-top: 50px;

    padding-bottom: 0;
  }
}


.main-text {
  //margin-top: 90px;
  //background: #f0f0f0;
}

.small {
  font-size: 1.2em;
}

.hsmall {
  font-size: 1.4em;
}

h2 span {
  background-color: #f0f0f0;
}


.toarticle {
  font-weight: bolder ;
  font-size: 1.7em;
  padding-top: 30px;
}

.toarticle span {
  background-color: #f0f0f0;

}


.tab {
  margin-bottom: 60px;
}

.main-text {
  h3 {
    font-size: 2.8em;
    color: $main-text;
    margin-bottom: 28px;
  }

  i {
    font-style: normal;
    color: brown;
  }
}

.disclaimer {
  font-size: 1.3em;
}

.disclaimer.main-text {
  margin-top: 0;
}

.disclaimer h4 {
  border-top: 3px solid #383e47;
  font-weight: 600;
  padding-top: 0.5em;
  display: inline-block;
}

.disclaimer {
  p, li, h5{
    font-size: 12px;
    line-height: 1.5;
  }
}

.disclaimer h5 {
  font-weight: 800;
}

.disclaimer .pointer {
  cursor: pointer;
  border-bottom: 1px dashed;
  display: inline-block;
}

@media (max-width: 991px) {
  .header-container img {
    display: none;
  }
  
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.leaflet-container {
  background-color:rgba(255,0,0,0.0);
}


.map-container {
  //margin-top: 10vh;
  position: relative;

  .legend {
    position: absolute;
    top: 10px;
    left: 10px;

    //width: 200px;
    background: white;
    border-radius: 5px;

    padding-right: 14px;


    .crossing_circle {
      $inner_radius: 4px;
      $outer_radius: 12px;

      width: $outer_radius * 2;
      height: $outer_radius * 2;

      border: $outer_radius - $inner_radius solid #FEEDE8;
      border-radius: $outer_radius;
      background: #F2744F;
    }

    .fast_circle {
      $radius: 4px;

      width: $radius * 2;
      height: $radius * 2;

      border: none;
      border-radius: $radius;
      background: #ffbb22;
      opacity: 0.5;
    }

    .table-row {
      display: table-row;
    }

    .table-cell {
      display: table-cell;
      vertical-align: middle;
      height: 30px;
    }

    .column-1 {
      width: 36px;
    }

    .column-1 > div {
      margin: 0 auto;
    }
  }
}

$map_height: 100vh;
//$margin: 20px;
#map {
  background: #000;
  width: 100%;
  height: $map_height;

  .mapboxgl-popup-close-button {
    font-size: 22px;
    color: white;
    background-color: rgba(1, 1, 1, 0.2);
    border: medium none;
    border-radius: 0 3px 0 0;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
  }

  .mapboxgl-popup-close-button:hover {
    //font-size: 22px;
    color: #151515;
    //background-color: rgba(255, 255, 255, 0.2);
    //border: medium none;
    //border-radius: 0 3px 0 0;
    //cursor: pointer;
    //position: absolute;
    //right: 0;
    //top: 0;
  }
}

.map-title {
  position: absolute;
  left: 150px;
  top: 50px;

  font-size: 22px;
  z-index: 999;
}

.map-popup-container {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 550px;
  font-family: 'Open Sans', Arial, sans-serif;
  opacity: 0.8;

  .map-popup-content {
    width: 100%;
    height: 350px;

  }

  font-size: 12px;

  p {
    font-size: 12px;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  p.ul-caption {
    margin-top: 10px;
  }

  //position: absolute;

  //width: 230px;
  //height: $map_height - $margin * 2;
  //background: rgba(1,1,1,0.4);

  z-index: 999;

  //right: 20px;
  //top: 40px;
  //border-radius: 5px;

  //padding: 10px;

  color: white;

  .cell-data {
    margin-top: 5px;
  }

  #ul-container {
    position: relative;
    overflow: hidden;
    max-height: 40vh;

    margin-top: 5px;
    margin-bottom: 5px;
  }

  ul {
    padding-left: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    display: table;
    width: 100%
  }

  li {
    list-style-type: none;
    display: table-row;
  }

  li span.date {
    font-style: italic;
    color: #999;
    //padding-left: 40px;
    display: table-cell;
  }

  li a {
    color: #EF5223;
    display: table-cell;
  }

  li a:hover,
  li a.hover {
    color: #1E90FF;
    text-decoration: underline;
  }

  //color: #ffbb22;

  .p-table {display: table}
  .p-row {display: table-row}
  .p-cell {display: table-cell}

  /* to make scrollbars always visible */
  .always-visible.ps > .ps__scrollbar-y-rail {
    opacity: 0.6;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 30px;
    //color: #ff7800;

    @media #{$brk-spnarrow} {
      display: none;
    }
  }


}

#calmingCarousel {
  .item {
    //background: #000;

    img {
      margin: 0 auto;
      width: auto;
      height: 400px;
      max-height: 400px;
    }

    h3 {
      display: inline;
      font-size: 2em;
      font-weight: bold;
      margin: 0;
      color: white;
      background: rgba(0, 0, 0, 0.15);
    }

    p {
      padding: 0;
      margin: 0;
      font-size: 1.4em;
    }
  }
}

.figure {
  margin-bottom: 5em;

  img {
    width: 100%;
  }

  .figcaption {
    text-align: center;
    font-size: 1em;
  }
}

#vasa {
  color: #ffdc99
}

.social-icons {
  right: 55px;
}

.mobile .header {
  box-shadow: 0 0 70px 70px rgba(50,50,50,0.5)
}

.disclaimer {
  color: #eee;
  font-size: 1.3em;
  margin-left: 15px;
  margin-top: 68px;
}